*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(114, 114, 111, 0.13);
}

h1,h2,h3,h4,h5,h6{
    color: aliceblue;
}

p,label{
    color: azure;
}

input{
    border: none;
    border-bottom: 1px snow;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

.cabecalho{
    height: 160px;
    padding: 20px;
    background-color: blue;
}

.cabecalho h3{
    color: antiquewhite;

}

.form-container{
    background-color: solid blueviolet;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46%;
}

.form-header{
    border-bottom: 1px solid cadetblue;
    height: 45px;
}

.form-header p {
    color: blue;
    border-bottom: 2px solid chartreuse;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    
}